
#logo{
       background-color: rgba(212, 193, 21, 0.947);
       border-radius: 10px;
       height: 50px;
       display: inline-block;
       display: flex;
       width: 200px;
       font-size: 15px;
       
       
}
.phead{
    border: 2px solid green;
    
    display: flex;
}
#pheada{
    width: 600px;
    height: 50px;
    margin-left: 800px;
    display: flex;
    margin-left: 500px;
    border: 1px solid red;
    gap:10px;
    justify-content: center;
    align-content: center;

}
 #chead{
    
    display: flex;
    
    
    
}
#offer{
    height: 30px;
    margin-top: 9px;
    justify-items: center;
    align-items: center; 


} 
#chead1{
    height: 30px;
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
    justify-items: center;
    align-items: center; 
}
#login{
    display: flex;
    justify-items:center;
    align-self: center;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
    gap:10px;
}
#cc{
    margin-bottom: 15px;
}
#logimg{
    margin-top: 10px;
}

