
#logo{
       background-color: rgba(212, 193, 21, 0.947);
       border-radius: 10px;
       height: 50px;
       display: inline-block;
       display: flex;
       width: 200px;
       font-size: 15px;
       
       
}
.phead{
    /* border: 2px solid green; */
    
    display: flex;
}
#pheada{
    width: 600px;
    height: 50px;
    margin-left: 800px;
    display: flex;
    margin-left: 500px;
    /* border: 1px solid red; */
    gap:10px;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}
 #chead{
    
    display: flex;

    
    
}
#offer{
    height: 30px;
    margin-top: 10px;
    justify-items: center;
    align-items: center;  


} 
#chead1{
    height: 30px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 0px;
    /* justify-items: center;
    align-items: center;  */
}
#login{
    display: flex;
    justify-items:center;
    align-self: center;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
    gap:10px;
}
#cc{
    margin-top:15px;
    
}
#logimg{
    margin-top: 10px;
}
#hphone{
 margin-top: 10px;
}
.trasport{
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    margin-top: 10px
}
#trans1,#trans2,#trans3,#trans4{
    margin-left: 20px;
    
}
#booking{
    margin-left: 650px;
    margin-top:30px ;
}
.bookingsection{
    border: 2px solid blueviolet;
    height: 150px;
}
.headsection{
    display: flex;
    
  
}
#headsection1,#headsection2{
    
    display: flex;
    gap: 20px;
    margin-left:10px ;
    border: 1px solid;
    height: 30px;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 15px;
    margin-top:10px;


}
#call{
    margin-top:10px;
    margin-left: 1000px;
    height: 30px;
}
.call{
    display: flex;
    gap:10px;
}
